---
import {
    ESFlag,
    MouseFront,
    TFHazard,
    ThetaDelta,
    TransFlag,
} from "$assets/Icons.astro";
import { PurpleHeart } from "$assets/IconsSvg.astro";
import Headmates from "$components/Headmates.astro";
import Icon from "$components/Icon.astro";
import ProfilePicture from "$components/ProfilePicture.astro";
import SvgIcon from "$components/SvgIcon.astro";
import Hearts from "$layouts/widgets/Hearts.astro";
---

<style>
    .profile-intro {
        padding-block: 1.5rem;

        clear: right;
    }

    .rotate {
        animation: rotate 2s linear infinite;
    }
</style>

<p><strong>hiiiiiiiiiiiiiiiiiiiiii</strong></p>

<ProfilePicture />

<div class="profile-intro">
    <p>
        welcome to my site!!!!! this is the
        <code><a href="https://sqky.one/">sqky.one</a></code>
        squeaking to you.
    </p>
    <p>it means "Squeaky One"!!!!</p>

    <br />

    <p>i'm a <em>mouse</em> <Icon class="rotate" src={MouseFront} />!!!!</p>
    <p>
        and mice are squeaky, so i'm
        <code><a href="https://the.sqky.one/">the.sqky.one</a></code>
        !!!!!
    </p>

    <br />

    <h2>who r u though</h2>
    <p>you can call me any of these names!!! (they are all equally valid)</p>
    <ul>
        <li>Stella</li>
        <li>twinkle <small>(lowercase only!)</small></li>
        <li>Mei</li>
        <li>mouse</li>
    </ul>
</div>

<hr />

<div class="profile-content">
    <div>
        <h2>By The Way, There's More</h2>

        <p>we're plural!!!!!!!</p>
        <p>
            if referring to us collectively, call us
            <em>Madeline</em> or <em>Maddie</em>
            <small>(they/them)</small>
            <SvgIcon src={PurpleHeart} />
        </p>

        <p>
            here is a
            <small>(hopefully up-to-date when you read this)</small>
            list of the headmates (:
        </p>
        <p>
            <small>
                <strong>
                    (note: we might add pages for specific headmates later!!!!!)
                </strong>
            </small>
        </p>

        <Hearts />

        <Headmates />

        <h3>Some Assorted Facts</h3>

        <p>
            we're
            <span>
                <i class="transgender">transgender</i>
                <Icon src={TransFlag} />
            </span>
            !!! and also
            <span>
                <i class="nonbinary">nonbinary</i>
            </span>
            !!!!!
        </p>
        <p>we're also on the <i class="aroace">aroace spectrum</i>!!!!!!</p>

        <style>
            .transgender,
            .nonbinary,
            .aroace {
                background-clip: text;
                color: #ffffff80;
            }

            .transgender {
                background-image: linear-gradient(
                    -45deg,
                    #5ccefa,
                    #5ccefa 20%,
                    #f6a8b7 20%,
                    #f6a8b7 40%,
                    #fff 40%,
                    #fff 60%,
                    #f6a8b7 60%,
                    #f6a8b7 80%,
                    #5ccefa 80%,
                    #5ccefa
                );
            }

            .nonbinary {
                background-image: linear-gradient(
                    -45deg,
                    #fdf52f,
                    #fdf52f 25%,
                    #fff 25%,
                    #fff 50%,
                    #9d5ad2 50%,
                    #9d5ad2 75%,
                    #000 75%,
                    #000
                );
            }

            .aroace {
                background-image: linear-gradient(
                    -45deg,
                    #e38c01,
                    #e38c01 20%,
                    #eccd00 20%,
                    #eccd00 40%,
                    #fff 40%,
                    #fff 60%,
                    #62afde 60%,
                    #62afde 80%,
                    #203857 80%,
                    #203857
                );
            }
        </style>

        <br />

        <p>
            We live in <em>España</em>
            <Icon src={ESFlag} />!!!
            <mark>
                <i><strong>Puta Renfe</strong>!!!!</i>
            </mark>
        </p>

        <p>
            We're Therian <Icon src={ThetaDelta} />!!!!
            <small>
                (i dont know a good source of info on what this means, if you
                know a site lmk please)
            </small>
        </p>

        <p>
            We're a
            <a href="https://yaodema.com/tf-hazard/" target="_blank"
                >TF Hazard</a
            >
            <Icon src={TFHazard} />
            !!!!!
        </p>
    </div>

    <hr />

    <div>
        <h2>what art thee</h2>
        <p>there's a lot of things i could be… here's a list of ideas for me</p>
        <p>
            <small>
                (this list is ever-growing. we have BPD
                <small>(Borderline Personality Disorder)</small>
                and my identity is as fragmented as my HDD)
            </small>
        </p>
        <ul>
            <li>Mouse (mouse (mouse))</li>
            <li>
                Computer mouse (but also animal mouse (also has RGB gamer
                lighting))
            </li>
            <li>Marshmallow mouse (you will be TF'd if you eat me)</li>
            <li>
                Deer mouse (like a deer if it was small and squeaky and also
                mouse)
            </li>
            <li>
                Mouse girl (girl (young (did you know i'm an age regressor)))
            </li>
            <li>Mouse Woman (Grown Up (This is Getting Silly))</li>
            <li></li>
        </ul>
    </div>

    <div>
        <h2>where da hell</h2>

        <p>
            u can find me in these places!!! (in order of preference, not of
            convenience)
        </p>
        <ol>
            <li>
                Email ~ <code>twinkle at mouse dot lgbt</code>
            </li>
            <li>Discord ~ <code>@twinkle_mouse</code></li>
            <li>Signal ~ <code>twinkle.10</code></li>
            <li>
                Matrix ~ <code>@twinkle:peepee.party</code>
                <small>(I don't get notifs here)</small>
            </li>
            <li>
                XMPP ~ <code>twinkle@knotsinside.me</code>
                <small>(I <i>might not</i> get notifs here)</small>
            </li>
        </ol>
    </div>

    <hr />

    <div>
        <h2>words of honour</h2>
        <p>here u can find some stuff people have said about me :3</p>
        <blockquote>
            not much is known about this creature, only a collection of names
            and some nesting behaviours…
        </blockquote>
        <cite>anonymous deer</cite>
        <blockquote>evil therapist</blockquote>
        <cite>anonymous puppy</cite>
    </div>
</div>
